/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  text-align: center;
  padding-top: 20px;
  padding-bottom 0px;
}

/* Image Section Styles */
.image-section img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
}

/* Media Queries for Responsive Layout */
@media screen and (max-width: 500px) {   /* 768 */
  /* Adjust header and image styles for smaller screens */
  header {
    padding: 20px;
  }

  .image-section img {
    padding: 20px;
  }
}

/* Add more media queries as needed for additional breakpoints */

