/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  text-align: center;
  padding-top: 20px;
  padding-bottom 0px;
}

.image-section img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
}

/* Footer Styles */
footer {
  margin-top: 20px;
  text-align: center;
  padding: 5px;
  font-size: small;
  width: 100%;	
  background: #ccc;
  color: #000000;
}

/* Media Queries for Responsive Layout */
@media screen and (max-width: 500px) {   /* 768 */
  /* Adjust header and image styles for smaller screens */
  header {
    padding: 20px;
  }

  .image-section img {
    padding: 20px;
  }
}

/* Add more media queries as needed for additional breakpoints */

a:link {
  color:#258;
  text-decoration:none;
  text-align:left;
}

a:visited {
  color:#258;
  text-decoration:none;
}

.committee-section {
  text-align: center;
/*  font-size: 18px; 
  line-height: 1.6; */
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin-bottom: 0ex;
} 


