.ritz .waffle a {
    color: inherit;
}

.ritz .waffle .s6 {
	border-right: 1px SOLID #000000;
    background-color: #f4cccc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s0 {
	border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s14 {
	border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s7 {
	border-right: 1px SOLID #000000;
    background-color: #c9daf8;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s8 {
	border-right: 1px SOLID #000000;
    background-color: #d9d2e9;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s13 {
	border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .vacio {
	border-right: 1px SOLID #000000;
}

.ritz .waffle .s9 {
	border-right: 1px SOLID #000000;
    background-color: #fff2cc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s1 {
	border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2 {
	border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2lunes {
	border-right: 1px SOLID #000000;
    background-color: #F5B7B1;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2martes {
	border-right: 1px SOLID #000000;
    background-color: #A9CCE3;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2miercoles {
	border-right: 1px SOLID #000000;
    background-color: #A3E4D7;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2jueves {
	border-right: 1px SOLID #000000;
    background-color: #D7BDE2;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2viernes {
	border-right: 1px SOLID #000000;
    background-color: #F9E79F;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}
.ritz .waffle .s3 {
	border-right: 1px SOLID #000000;
    background-color: #fce5cd;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s12 {
	border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s10 {
	border-right: 1px SOLID #000000;
    background-color: #d0e0e3;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s4 {
	border-right: 1px SOLID #000000;
    background-color: #d9ead3;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s11 {
	border-right: 1px SOLID #000000;
    background-color: #ead1dc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s5 {
    background-color: #ffffff;
	border-right: 1px SOLID #000000;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}